<nav class="nav nav-pills nav-stacked">
  <ul class="nav nav-pills nav-stacked">

    {% if page.url == "/index.html" %}
      <li class="active"><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
    {% else %}
      <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
    {% endif %}

    {% assign pages = (site.pages | where: "category", "page") %}
    {% for p in pages %}
      {% if p.title %}
        {% capture page_url %}{{(page.url | remove_first: "/" | split: '/' | first)}}{% endcapture %}
        {% capture p_url %}{{(p.url | remove_first: "/" | split: '/' | first)}}{% endcapture %}
        {% if page_url == p_url %}

          <li class="active"><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
        {% else %}
          <li><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
        {% endif %}
        
      {% endif %}
    {% endfor %}

    <li>
      <h3>Projects</h3>
      <div class="sub-nav">
        <ul class="nav nav-pills nav-stacked">
          {% assign projects = (site.pages | where: "category", "project") %}
          {% for p in projects %}
            {% if p.title %}
              {% capture page_url %}{{(page.url | remove_first: "/" | split: '/' | first)}}{% endcapture %}
              {% capture p_url %}{{(p.url | remove_first: "/" | split: '/' | first)}}{% endcapture %}
              {% if page_url == p_url %}
                <li class="active"><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
              {% else %}
                <li><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
              {% endif %}
              
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </li>
  </ul>
</nav>