<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  {% include head.html %}
    
  <body>

    {% include header.html %}

    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <main class="page-content container">
      {% if page.url == "/index.html" %}
        <div class="container">
          <div class="jumbotron">
            <h1>Ionshard Development</h1>
            <p>Home of my projects, musings and anything else I come up with.</p>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div
        <div class="col-sm-8">
          {{ content }}
        </div>
        <aside class="col-sm-4">
          {% include nav.html %}
        </aside>
      </div>
      <p class="pull-right rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </main>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
